flow http request
[{"id":"4d8dda6d.da9ebc","type":"http request","z":"f416360e.9fe","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://docs.google.com/forms/d/e/1FAIpQLSeqrzPaSJ_H0QjRqUVWghvwuwxU2XntwZtuXLEvUQHTFGOcPw/formResponse?entry.1736973383={{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":930,"y":300,"wires":[[]]},{"id":"cdb4f7bb.0d20d","type":"inject","z":"f416360e.9fe","name":"","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":310,"y":300,"wires":[["25ddd3f7.0ab454"]]},{"id":"70e66d48.4516cc","type":"comment","z":"f416360e.9fe","name":"sensore energia","info":"","x":120,"y":300,"wires":[]},{"id":"25ddd3f7.0ab454","type":"template","z":"f416360e.9fe","name":"energia ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{global.energia}} ","output":"str","x":500,"y":300,"wires":[["d350ef0d.bd5248"]]},{"id":"d350ef0d.bd5248","type":"change","z":"f416360e.9fe","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":300,"wires":[["4d8dda6d.da9ebc"]]}]
